.collection-page {
  padding: 20px;
}

.tabs-container {
  display: flex;
  flex-wrap: wrap; /* Allow tabs to wrap into multiple lines */
  justify-content: flex-start;
  margin-bottom: 20px;
  border-bottom: 2px dashed #ddd;
}

.tab {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #f5f5f5;
  font-size: 1.1rem;
  white-space: nowrap; /* Prevent text from wrapping within a single tab */
}

.tab.active {
  background-color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}


.prints-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2-column grid */
  gap: 20px; /* Space between grid items */
}

.print-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.print-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.print-title {
  font-size: 1.2rem;
  margin: 10px 0;
}

.print-price {
  font-size: 1rem;
  color: #555;
}
