.footerContainer {
  width: 100%;
  height: 32px;
}

.footer {
  display: flex;
  justify-content: flex-end; /* Align the icon to the right */
  padding: 10px 20px;
  border-top: dashed rgb(78, 77, 77) 1px;
}

.footer a {
  color: rgb(78, 77, 77); /* Icon color */
  transition: transform 0.3s ease-in-out;
}

.footer a:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}
