.container {
  text-align: center;
  padding: 20px;
  display: flex;
}

.container-left {
  width: 60vw;
}

.artwork-image {
  max-width: 60%;
  height: auto;
}

h1 {
  font-size: 2rem;
  margin: 20px 0;
}

.artwork-price {
  font-size: 1.5rem;
  margin: 20px 0;
}

.size-selector label {
  margin-right: 20px;
  font-size: 1.2rem;
}
