/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  color: rgb(78, 77, 77);
  font-size: 1.2rem;
}

/* Left Section: COUSCOUS */
.navbar-left {
  margin-top: -10px;
  flex: 1;
}

.navbar-left h1 {
  margin: 0;
  font-size: 6rem;
  color: rgb(216, 134, 18);
}

/* Center Section: Navigation Links */
.navbar-center {
  flex: 1;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: rgb(78, 77, 77);
  text-decoration: none;
}

.navbar ul li a:hover {
  color: rgb(252, 208, 126);
}

/* Right Section: Shopping Cart Icon */
.navbar-right {
  flex: 1;
  text-align: right;
}

.couscous2 {
  padding-left: 40px;
  margin-top: -50px !important;
}

.couscous1,
.couscous2 {
  transform: rotate(-10deg); /* Adjust the degree as needed */
  transform-origin: top /* Change the origin point as needed */
}

/* Pop-Out Menu Styles */
.pop-out-menu {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  right: 20px; /* Adjust as necessary */
  top: 60px; /* Adjust based on your navbar height */
  background-color: white; /* Background color */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border-radius: 5px; /* Rounded corners */
  z-index: 1000; /* Ensure it appears above other elements */
}

.pop-out-menu ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 10px; /* Space around the list */
}

.pop-out-menu li {
  margin: 10px 0; /* Space between items */
}

.pop-out-menu a {
  color: rgb(78, 77, 77); /* Text color */
  text-decoration: none; /* Remove underline */
}

.pop-out-menu a:hover {
  color: rgb(252, 208, 126); /* Hover color */
}
