@font-face {
  font-family: 'Most Wazted';
  src: url('fonts/Mostwasted.ttf') format('truetype'); /* Adjust the path */
}


body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: var(--background-colour);
  color: var(--text-colour);
  font-weight: 800;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--text-colour);
}

section {
  padding: 2em;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Create global variables to store colours */
:root {
  --background-colour: #f0f0f0;
  --text-colour: rgb(78, 77, 77);
  --accent-colour: rgb(216, 134, 18);
}